@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  color: #222
}
section {
    padding-top: 60px;
    margin-top: -60px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.nav-logo {
  padding-left: 20px;
}
.navbar {
  padding: .8rem;
}
.navbar-nav li{
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}
.carousel-inner img {
  height: 100%;
  width: 100%;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}
.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
  padding-bttom: 1rem;
}
.btn-primary{
  background-color: rgb(17, 110, 169)
  border: 1px solid: rgb(17, 110, 169)
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
}
.padding{
  padding-bottom:2rem;
}
.welcome{
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.bodyIntro{
  background-color: rgba(17, 110, 169, 1)
}

.introDiv {
    padding: 2rem;
}

.intro{
  color: white;
  padding: 2rem;
  text-align: center;
}

.welcome hr{
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: .1rem;
}

.icon-footer {
    background-color: white;
    color: black;
    padding: 40px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover {
  color: rgba(17, 110, 169, 1)
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
footer a {
  color: #d5d5d5;
}

.footer-icons {
    color: #d5d5d5;
}
.pre-footer {
  background-color: #f8f9fa;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top:.8rem;
  margin-bottom: 1rem;
}
hr.light-100 {
  color:#d5d5d5;
  background-color: #d5d5d5;
  border-top: 1px solid #d5d5d5;
  height: 1px;
  width: 100%;
  margin-top:.8rem;
  margin-bottom: 1rem;
}

hr.thick {
    border: none;
    height: 20px;
    /* Set the hr color */
    background-image: linear-gradient(to right, rgba(17, 110, 169, 0.3), rgba(17, 110, 169, 1 ), rgba(17, 110, 169, 0.3));
}

.img-circle {
    padding: 10px;
    border-radius: 25%;
  }

/*--- Fixed Background Image --*/

.footer-img {
  background-color: #f8f9fa;
}

/*---Media Queries --*/
@media (min-width: 1200px) {
  .nav-logo {
    width: 300px;
  }
  .carousel {
    width: 100%;
    height: 800px;
  }
  .carousel-inner {
    width: 100%;
    height: 800px;
  }
  .carousel-caption {
    top: 55%;
  }
  .carousel-caption h1 {
    font-size: 450%
  }
  .carousel-caption h3 {
    font-size: 180%;
    font-weight: 400;
    padding-bttom: .4rem;
  }
  .carousel-caption .btn {
    font-size: 100%;
    padding: 10px 16px;
  }
  .display-4 {
    font-size: 250%;
  }
  .social a{
    font-size: 6em;
    padding: 3rem;
  }
  .immProgetto{
    width:250px;
  }
}

@media (max-width: 1200px) {
  .nav-logo {
    width: 300px;
  }



@media (max-width: 992px) {
  .nav-logo {
    width: 300px;
  }
  .studio-image {
    width:80%;
  }
  .social a{
    font-size: 4em;
    padding: 2rem;
  }
  }
@media (max-width: 768px) {
  .nav-logo {
    width: 250px;
  }
  .studio-image {
    width:90%;
  }
  .carousel-caption {
    top: 45%;
  }
  .carousel-caption h1 {
    font-size: 350%
  }
  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bttom: .2rem;
  }
  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }
  .display-4 {
    font-size: 200%;
  }
  .social a{
    font-size: 2.5em;
    padding: 1.2rem;
  }
}
@media (max-width: 576px) {
  .card-block{
    margin-top: -40px;
  }
  .card-text{
    text-align: center;
  }
  .nav-logo {
    width: 200px;
  }
  .studio-image {
    width:100%;
  }
  .carousel-caption {
    top: 40%;
  }
  .carousel-caption h1 {
    font-size: 250%
  }
  .carousel-caption h3 {
    font-size: 110%;
  }
  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
  }
  .display-4 {
    font-size: 160%;
  }
  .social a{
    font-size: 2em;
    padding: .7rem;
  }
}

/*---default --*/   /*---default --*/   /*---default --*/
/*---default --*/   /*---default --*/   /*---default --*/
/*---default --*/   /*---default --*/   /*---default --*/

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
